<article class="excerpt excerpt-1" style="">
    <header><a class="cat" href="#" title="$topic$" >$topic$<i></i></a>
        <h2><a href="#" title="$title$" target="_blank" >$title$</a>
        </h2>
    </header>
    <p class="meta">
        <time class="time"><i class="glyphicon glyphicon-time"></i> $ctime$</time>
        <span class="views"><i class="glyphicon glyphicon-eye-open"></i> $readnumber$</span> <a class="comment" href="##comment" title="评论" target="_blank" ><i class="glyphicon glyphicon-comment"></i> $allowcomments$</a>
    </p>
    <p class="note">$description$</p>
</article>   