<article class="excerpt excerpt-1" style="">
    <a class="focus" href="#" title="用DTcms做一个独立博客网站（响应式模板）" target="_blank" ><img class="thumb" data-original="${ctx}/assets/images/201610181739277776.jpg" src="${ctx}/assets/images/201610181739277776.jpg" alt="用DTcms做一个独立博客网站（响应式模板）"  style="display: inline;"><    /a>
            <header><a class="cat" href="#" title="MZ-NetBlog主题" >$topic$<i></i></a>
                <h2><a href="#" title="用DTcms做一个独立博客网站（响应式模板）" target="_blank" >$title$</a>
                </h2>
            </header>
            <p class="meta">
                <time class="time"><i class="glyphicon glyphicon-time"></i> $ctime$</time>
                <span class="views"><i class="glyphicon glyphicon-eye-open"></i> $readnumber$</span> <a class="comment" href="##comment" title="评论" target="_blank" ><i class="glyphicon glyphicon-comment"></i> $allowcomments$</a>
            </p>
            <p class="note">$description$</p>
    </article>   