<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lu.cms.dao.CmsArticleMapper" >
    <resultMap id="BaseResultMap" type="com.lu.cms.model.CmsArticle" >
        <id column="article_id" property="articleId" jdbcType="INTEGER" />
        <result column="topic_id" property="topicId" jdbcType="INTEGER" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="author" property="author" jdbcType="VARCHAR" />
        <result column="fromurl" property="fromurl" jdbcType="VARCHAR" />
        <result column="image" property="image" jdbcType="VARCHAR" />
        <result column="keywords" property="keywords" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="TINYINT" />
        <result column="allowcomments" property="allowcomments" jdbcType="TINYINT" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="readnumber" property="readnumber" jdbcType="INTEGER" />
        <result column="top" property="top" jdbcType="INTEGER" />
        <result column="system_id" property="systemId" jdbcType="INTEGER" />
        <result column="ctime" property="ctime" jdbcType="BIGINT" />
        <result column="orders" property="orders" jdbcType="BIGINT" />
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.lu.cms.model.CmsArticle" extends="BaseResultMap" >
        <result column="content" property="content" jdbcType="LONGVARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        article_id, topic_id, title, author, fromurl, image, keywords, description, type, 
        allowcomments, status, user_id, readnumber, top, system_id, ctime, orders
    </sql>
    <sql id="Blob_Column_List" >
        content
    </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from cms_article
        where article_id = #{articleId,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from cms_article
    </select>
    <select id="selectByLastHottest" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from cms_article 
        where cms_article.type = #{arg0} 
        order by ctime desc limit #{arg1}
    </select>
    <select id="selectByCategoryName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from cms_article 
        where cms_article.article_id 
            in (
                select article_id from cms_article_category 
                where category_id = (select cc.category_id from cms_category as cc where cc.name=#{categoryName,jdbcType=VARCHAR})
                )
    </select>
    <select id="selectByTagName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from cms_article 
        where cms_article.article_id 
            in (
                select article_id from cms_article_tag 
                where tag_id = (select ct.tag_id from cms_tag as ct where binary ct.name = #{tagName,jdbcType=INTEGER})
                )
    </select>
    <select id="selectByCommentStatusTimeDesc" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select 
        <include refid="Base_Column_List" />
        from cms_article 
        where cms_article.article_id 
            in (
                select article_id from cms_comment where status = #{CommentStatus,jdbcType=INTEGER}
                ) order by ctime desc
    </select>
    <select id="countArticle" resultType="java.lang.Integer">
        select count(*) from cms_article
    </select>
    <select id="countArticleByCategory" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from cms_article
        where cms_article.article_id 
            in (
                select article_id from cms_article_category 
                where category_id = (select cc.category_id from cms_category as cc where binary cc.name=#{categoryName,jdbcType=VARCHAR})
                )
    </select>
    <select id="countArticleByTag" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from cms_article
        where cms_article.article_id 
            in (
                select article_id from cms_article_tag 
                where tag_id = (select ct.tag_id from cms_tag as ct where binary ct.name=#{TagName,jdbcType=VARCHAR})
                )
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from cms_article
        where article_id = #{articleId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.lu.cms.model.CmsArticle" >
        insert into cms_article (article_id, topic_id, title, 
        author, fromurl, image, 
        keywords, description, type, 
        allowcomments, status, user_id, 
        readnumber, top, system_id, 
        ctime, orders, content
        )
        values (#{articleId,jdbcType=INTEGER}, #{topicId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
        #{author,jdbcType=VARCHAR}, #{fromurl,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, 
        #{keywords,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, 
        #{allowcomments,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, #{userId,jdbcType=INTEGER}, 
        #{readnumber,jdbcType=INTEGER}, #{top,jdbcType=INTEGER}, #{systemId,jdbcType=INTEGER}, 
        #{ctime,jdbcType=BIGINT}, #{orders,jdbcType=BIGINT}, #{content,jdbcType=LONGVARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.lu.cms.model.CmsArticle" >
        insert into cms_article
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="articleId != null" >
                article_id,
            </if>
            <if test="topicId != null" >
                topic_id,
            </if>
            <if test="title != null" >
                title,
            </if>
            <if test="author != null" >
                author,
            </if>
            <if test="fromurl != null" >
                fromurl,
            </if>
            <if test="image != null" >
                image,
            </if>
            <if test="keywords != null" >
                keywords,
            </if>
            <if test="description != null" >
                description,
            </if>
            <if test="type != null" >
                type,
            </if>
            <if test="allowcomments != null" >
                allowcomments,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
            <if test="readnumber != null" >
                readnumber,
            </if>
            <if test="top != null" >
                top,
            </if>
            <if test="systemId != null" >
                system_id,
            </if>
            <if test="ctime != null" >
                ctime,
            </if>
            <if test="orders != null" >
                orders,
            </if>
            <if test="content != null" >
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="articleId != null" >
                #{articleId,jdbcType=INTEGER},
            </if>
            <if test="topicId != null" >
                #{topicId,jdbcType=INTEGER},
            </if>
            <if test="title != null" >
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="author != null" >
                #{author,jdbcType=VARCHAR},
            </if>
            <if test="fromurl != null" >
                #{fromurl,jdbcType=VARCHAR},
            </if>
            <if test="image != null" >
                #{image,jdbcType=VARCHAR},
            </if>
            <if test="keywords != null" >
                #{keywords,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                #{type,jdbcType=TINYINT},
            </if>
            <if test="allowcomments != null" >
                #{allowcomments,jdbcType=TINYINT},
            </if>
            <if test="status != null" >
                #{status,jdbcType=TINYINT},
            </if>
            <if test="userId != null" >
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="readnumber != null" >
                #{readnumber,jdbcType=INTEGER},
            </if>
            <if test="top != null" >
                #{top,jdbcType=INTEGER},
            </if>
            <if test="systemId != null" >
                #{systemId,jdbcType=INTEGER},
            </if>
            <if test="ctime != null" >
                #{ctime,jdbcType=BIGINT},
            </if>
            <if test="orders != null" >
                #{orders,jdbcType=BIGINT},
            </if>
            <if test="content != null" >
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lu.cms.model.CmsArticle" >
        update cms_article
        <set >
            <if test="topicId != null" >
                topic_id = #{topicId,jdbcType=INTEGER},
            </if>
            <if test="title != null" >
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="author != null" >
                author = #{author,jdbcType=VARCHAR},
            </if>
            <if test="fromurl != null" >
                fromurl = #{fromurl,jdbcType=VARCHAR},
            </if>
            <if test="image != null" >
                image = #{image,jdbcType=VARCHAR},
            </if>
            <if test="keywords != null" >
                keywords = #{keywords,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test="allowcomments != null" >
                allowcomments = #{allowcomments,jdbcType=TINYINT},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="userId != null" >
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="readnumber != null" >
                readnumber = #{readnumber,jdbcType=INTEGER},
            </if>
            <if test="top != null" >
                top = #{top,jdbcType=INTEGER},
            </if>
            <if test="systemId != null" >
                system_id = #{systemId,jdbcType=INTEGER},
            </if>
            <if test="ctime != null" >
                ctime = #{ctime,jdbcType=BIGINT},
            </if>
            <if test="orders != null" >
                orders = #{orders,jdbcType=BIGINT},
            </if>
            <if test="content != null" >
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where article_id = #{articleId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.lu.cms.model.CmsArticle" >
        update cms_article
        set topic_id = #{topicId,jdbcType=INTEGER},
        title = #{title,jdbcType=VARCHAR},
        author = #{author,jdbcType=VARCHAR},
        fromurl = #{fromurl,jdbcType=VARCHAR},
        image = #{image,jdbcType=VARCHAR},
        keywords = #{keywords,jdbcType=VARCHAR},
        description = #{description,jdbcType=VARCHAR},
        type = #{type,jdbcType=TINYINT},
        allowcomments = #{allowcomments,jdbcType=TINYINT},
        status = #{status,jdbcType=TINYINT},
        user_id = #{userId,jdbcType=INTEGER},
        readnumber = #{readnumber,jdbcType=INTEGER},
        top = #{top,jdbcType=INTEGER},
        system_id = #{systemId,jdbcType=INTEGER},
        ctime = #{ctime,jdbcType=BIGINT},
        orders = #{orders,jdbcType=BIGINT},
        content = #{content,jdbcType=LONGVARCHAR}
        where article_id = #{articleId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lu.cms.model.CmsArticle" >
        update cms_article
        set topic_id = #{topicId,jdbcType=INTEGER},
        title = #{title,jdbcType=VARCHAR},
        author = #{author,jdbcType=VARCHAR},
        fromurl = #{fromurl,jdbcType=VARCHAR},
        image = #{image,jdbcType=VARCHAR},
        keywords = #{keywords,jdbcType=VARCHAR},
        description = #{description,jdbcType=VARCHAR},
        type = #{type,jdbcType=TINYINT},
        allowcomments = #{allowcomments,jdbcType=TINYINT},
        status = #{status,jdbcType=TINYINT},
        user_id = #{userId,jdbcType=INTEGER},
        readnumber = #{readnumber,jdbcType=INTEGER},
        top = #{top,jdbcType=INTEGER},
        system_id = #{systemId,jdbcType=INTEGER},
        ctime = #{ctime,jdbcType=BIGINT},
        orders = #{orders,jdbcType=BIGINT}
        where article_id = #{articleId,jdbcType=INTEGER}
    </update>
</mapper>