.content{
	margin-right: 0;
    padding: 20px;
    border: 1px solid #EAEAEA;
    background-color: #FFF;
    border-radius: 4px;
}
.content-page{
	padding-right: 390px;
}
.sidebar{
	position: absolute;
	top: 0;
	right: 0;
}
.article-header{
	margin-bottom: 20px;
    padding: 25px 0;
    border-bottom: 1px solid #EEE;
    text-align: center;
}
.article-tag-title{
	cursor: pointer;
}
.tag-list li{
	width: 20%;
	float: left;
}